
body {
	background-image: url('woodbg.jpg');
	background-size: 100%;
	font-size: 8px;
}

.navbar {
	background-color: #dad7cd !important;
	height: 14vh;
	font-size: 2.75em;
	font-weight: bold;
}

.nav-link {
	color: #50382a !important;
	font-family: 'Nunito', sans-serif;
}

.nav-link:hover {
  color: #d5bd96 !important;
}

#mainTitle {
	background-color: #dad7cd;
	color: #50382a;
	margin-top: 30vh;
	text-align: center;
	font-size: 10vh;
	font-family: 'Caveat', cursive;
	border: 2px solid #50514f;
	opacity: 0.8;
}

#welcome-section {
	height: 100vh;
}

#services-section {
	height: 100vh;
}

#services {
	background-color: #dad7cd;
	opacity: 0.9;
	height: 90vh;
	text-align: center;
	margin-top: 20vh;
}